
.assignment-wrapper {
    border: 1px dashed lightgray;
    padding: 2em;
    border-radius: 1em;
    margin-top: 2em;
}

.assignment-wrapper-title {
    margin-top: -2em !important;
    background-color: white !important;
    white-space: nowrap !important;
    margin-bottom: 1em !important;
    width: min-content !important;
}